<h1 class="text-center">Terminos y Condiciones</h1>
<br>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br>
<section class="text-center container">
    <div class="profile m-auto p-auto">
      <%= image_tag("auto1.avif", height:450)%>
        <h4> siempre protegiendote </h4>
        <h5>Juntos por la Electro Movilidad</h5>
    </div>
</section>
<br>
    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br>